<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý loại sản phẩm</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <style>
        .table-container {
            max-height: 580px;
            overflow-y: auto;
        }

        .table-container thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }


        .scrolling-text {
            white-space: nowrap;
            overflow: hidden;
            position: relative;
        }

        .scrolling-text h3 {
            animation: scrolling 10s linear infinite;
        }

        @keyframes scrolling {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    </style>
</head>

<body id="page-top">
  

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="header" th:replace="~{admin/layout/header :: header}"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div id="nav" th:replace="~{admin/layout/nav :: nav}"></div>
                
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-1">
                                        <button class="btn btn-success btn-add"><i class="fa fa-plus"></i> Thêm</button>
                                    </div>
                                    <div class="col-11">
                                        <div class="scrolling-text">
                                            <h3>Quản lý loại sản phẩm</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table-container">
                                <table class="table table-striped border">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên loại sản phẩm</th>
                                            <th>Hoạt động</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-bordered">
                                        <tr th:each="category : ${categories}" th:id="${category.id}">
                                            <td th:text="${category.id}"></td>
                                            <td th:text="${category.name}"></td>
                                            <td>
                                                <button th:data-id="${category.id}" th:data-name="${category.name}"
                                                    class="btn btn-sm btn-outline-primary btn-edit"><i class="fa fa-edit"></i></button>
                                                <button th:data-id="${category.id}" th:data-name="${category.name}"
                                                    class="btn btn-sm btn-outline-danger btn-delete"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <p>Tổng loại sản phẩm: <strong class="text-danger" id="total"
                                    th:text="${#lists.size(categories)}"></strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <div id="footer" th:replace="~{admin/layout/footer :: footer}"></div> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Confirm add -->
    <div id="confirm-add-dialog" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm loại sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user">Tên loại sản phẩm</label>
                        <input class="form-control" type="text" placeholder="Enter user name" name="name"
                            id="add-name">
                    </div>                  

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button data-id="???" type="button" id="btn-add-confirmed" class="btn btn-primary">Thêm</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Confirm add -->

    <!-- Confirm delete -->
    <div id="confirm-delete-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xóa loại sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc muốn xóa <strong id="delete-name"></strong>
                </div>

                <!-- Modal footer -->

                <div class="modal-footer">
                    <button data-id="???" id="btn-delete-confirmed" type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End Confirm delete -->

    <!-- Update user -->
    <div id="confirm-edit-dialog" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật loại sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="user">Tên loại sản phẩm</label>
                        <input type="text" name="" id="edit-name" class="form-control">
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button data-id="???" type="button" id="btn-edit-confirmed" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>

    </div>
    <!-- End Update user -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
    <script src="../js/admin/main.js"></script>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>


    <script type="text/javascript">
        $('.btn-add').click(e => {
            $('#confirm-add-dialog').modal('show')
        })

        $('#btn-add-confirmed').click(e => {
            let data = {
                name: $('#add-name').val(),
            }
            console.log('cl ', data)
            fetch('/category', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        console.log('client', json)
                        Swal.fire("Thành Công", "Đã thêm thành công", "success");
                        setTimeout(function () {
                            location.href = "";
                        }, 2000);
                    } else {
                        console.log('client', json)
                        Swal.fire("Thất Bại", "Thêm thất bại", "error");
                    }
                })
                .catch(console.log)
            // $('#confirm-add-dialog').modal('hide')
        })

        $('.btn-delete').click(e => {
            let btn = e.target
            let id = btn.dataset.id
            let name = btn.dataset.name
            $('#delete-name').html(name)
            $('#btn-delete-confirmed').attr('data-id', id)
            $('#confirm-delete-dialog').modal('show')
        })

        $('#btn-delete-confirmed').click(e => {
            $('#confirm-delete-dialog').modal('hide')
            let btn = e.target
            let id = btn.dataset.id

            fetch('/category/' + id, {
                method: 'DELETE'
            })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        $(id)
                        document.getElementById(id).remove();
                        var initialValue = parseInt($("#total").text());

                        // Subtract 1 from the initial value
                        var newValue = initialValue - 1;

                        // Update the strong element with the new value
                        $("#total").text(newValue);
                        console.log(json)
                    } else {
                        console.log(json)
                    }
                })
                .catch(console.log)
        })


        $('.btn-edit').click(e => {
            let btn = e.target
            let id = btn.dataset.id
            let name = btn.dataset.name
            $('#edit-name').attr('value', name)
            $('#btn-edit-confirmed').attr('data-id', id)
            $('#confirm-edit-dialog').modal('show')

        })

        $('#btn-edit-confirmed').click(e => {
            let btn = e.target
            let id = btn.dataset.id
            let data = {
                id: id,
                name: $('#edit-name').val(),
            }
            console.log('cl ', data)
            fetch('/category', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        window.location.reload();
                        // console.log('client', json)
                    } else {
                        console.log('client', json)
                    }
                })
                .catch(console.log)
            $('#confirm-edit-dialog').modal('hide')
        })

    </script>
</body>

</html>