<header>
    <!-- Sidebar -->
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-feather"></i>
            </div>
            <div class="sidebar-brand-text mx-3">BHHT</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" id="dashboard">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Đơn hàng
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item" id="order-list">
            <a class="nav-link" href="/admin/order-manager">
                <i class="fas fa-fw fa-cart-plus"></i>
                <span>Danh sách đơn hàng</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Sản phẩm
        </div>

        <!-- Nav Item - Thêm sản phẩm -->
        <li class="nav-item" id="product-list">
            <a class="nav-link" href="/admin/product-manager">
                <i class="fas fa-fw fa-box"></i>
                <span>Quản lý sản phẩm</span></a>
        </li>

        <!-- Nav Item - Thêm loại sản phẩm -->
        <li class="nav-item" id="category-list">
            <a class="nav-link" href="/admin/category-manager">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Quản lý loại sản phẩm</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Thêm sản phẩm -->
        <li class="nav-item" id="user-list">
            <a class="nav-link" href="/admin/user-manager">
                <i class="fas fa-fw fa-users"></i>
                <span>Tài khoản</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>



    </ul>
    <!-- End of Sidebar -->
</header>